.tituloPagina{
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(77, 77, 226)
    margin: 10px
}
/**************** colocando uma margem no titulo**********/
hr{
    margin:
     15px;
}
/* *********** estilizando o bloco*********/

.bloco1{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

}

.bloco2{
    background-color:grey;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

}

.bloco3{
    background-color: green;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;

}

/* ******* o row define o eixo principal do flexbox*******/

.conteiner{
    display: flex;
    flex-direction: row;
/* elas são indiferente para flex*/
    background-color: blueviolet;
    padding: 16px;
    height: 500px;


}

.conteinerRow{
    display: flex;
    flex-direction: row;
/* elas são indiferente para flex*/
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;


}
/* a propriedade é flex-direction */
/* column e row são direções*/

.conteinerColumn{
    display: flex;
    flex-direction: column;
/* elas são indiferente para flex*/
    background-color: black;
    padding: 16px;
    height: 500px;


}
/* o row-reverse troca a ordem por exemplo: 3, 2, 1*/
.conteinerRowReverse{
    display: flex;
    flex-direction: row-reverse;
/* elas são indiferente para flex*/
    background-color: rgb(137, 118, 155);
    padding: 16px;
    height: 500px;


}

.conteinerColumnReverse{
    display: flex;
    flex-direction: column-reverse;
/* elas são indiferente para flex*/
    background-color: rgb(99, 158, 111);
    padding: 16px;
    height: 500px;


}
/* é importante colocar no iniciou do código*/

.nomePropriedade{
    font-size: 2em;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    padding: 20px;

}

.valorPropriedade{
    font-size: 1,5em;
    font-weight: 400px
    ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(197, 29, 29);
    padding: 30px;
}